@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(255, 0, 0);
}
header{
    position: Fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 150px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px black;
}
.wrapper {
    width: 450px;
    background: rgba(0, 0, 0, 0.5); /* Use rgba for transparent background with opacity */
    color: white;
    border-radius: 12px;
    margin: 0 auto;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}
.wrapper p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
}
.p {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    color: white;
    text-align: left;
}
.p1 {
    width: 100%;
    padding: 10px 0;
    margin: 8px 0;
    color: white;
    text-align: left;
}

