body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: url("PSCFoxValley.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    width: 420px;
    background: transparent;
    color: white;
    border-radius: 12px;
    padding: 30px 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.input-box {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center; /* Center the content horizontally */
}

.input-box input {
    width: 80%;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 0 20px;
}

.input-box input::placeholder {
    color: white;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 20px;
}
