@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif; 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    padding: 20px 100px;
    background-color: rgb(255, 255, 76);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: black;
    user-select: none;
    margin-right: auto; /* Add some space between the logo and navigation */
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-right: 25px; /* Increase spacing between navigation items */
}

.navigation a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transition: width 0.5s;
}

.navigation a:hover::after {
    width: 100%;
}

.navigation .btnlogin-popup {
    min-width: 75px; /* Adjust the width as needed */
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: black;
    font-weight: 500;
    margin-left: 25px; /* Adjust the margin as needed */
    transition: background-color 0.3s, color 0.3s;
}

.navigation .btnlogin-popup:hover {
    background-color: #fff;
    color: black;
}
